button {
    text-align: center;
    border: none;
    font-weight: bold;
    color: white;
    box-shadow: 10px 10px 10px #334155;
    background-color: #0284c7;
    width: 100%;
    cursor: pointer;
}

@media (min-width: 768px) {
    button {
        border-radius: 10%;
        padding: 15px 30px;
    }

    div > .button:nth-child(2n) {
        background-color: #fcd34d;
        color: black;
    }
}

@media (max-width: 992px) {
    button {
        padding: 10px 25px;
        border-radius: none;
    }
}