@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&display=swap');

.App {
  text-align: center;
}

/* BUTTONS */

button {
  text-align: center;
  border: none;
  font-family: 'Protest Riot';
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #0284c7;
  width: 100%;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (min-width: 768px) {
  button {
      border-radius: 10%;
      padding: 15px 30px;
  }
}

@media (max-width: 992px) {
  button {
      padding: 10px 25px;
      border-radius: none;
  }
}

/* GLOBAL STYLES */

.close {
  background-color: red;
  padding: 0 5%;
}

.intro_img {
  z-index: -1;
  width:100%;
  height: 600px;
  opacity: 0.75;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .2);
  object-fit: cover;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
}

.form {
  z-index: 2;
  position: absolute;
  background-color: #fcd34d;
  font-family: 'Protest Revolution', sans-serif;
  padding: 0 1.5%;
}

.input-form .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
  opacity: 0.85;
}

.modal a {
  color: white;
  padding-bottom: 5%;
}

/* GLOBAL MODAL STYLING */

.modal-content {
  background-color: #0284c7;
  color: white;
  padding: 12px 15px;
}

.modals {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* BREAKPOINT STYLES */

@media (min-width: 576px) {
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #0284c7;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:active {
    color: #0284c7;
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0284c7;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
}

@media (min-width: 1376px) {
  .buttons-section {
    margin-left: 50px;
    margin-top: 50px;
    gap: 55px;
  }

  .form {
    float: right;
    height: 70%;
    right: 0;
  }

  .form p {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1376px) {
  .buttons-section {
    margin-left: 50px;
    margin-top: 50px;
    gap: 55px;
  }

  .form {
    float: right;
    height: 70.5%;
    right: 0;
  }

  .form p {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .buttons-section {
    margin-left: 50px;
    margin-top: 50px;
    gap: 55px;
  }

  .form {
    bottom: 100px;
    background-color: #fcd34d;
    width: 100%;
    margin-bottom: -3%;
  }

  .input-form {
    display: none;
  }

  .form p {
    text-align: center;
    padding: 0 -15px;
  }
}

@media (max-width: 576px) {
  button {
    font-size: 15px;
    border: 1.5px solid black;
  }

  .buttons-section {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    width: 100%;
  }

  .input-form {
    display: none;
  }

  .form {
    bottom: 100px;
    background-color: #fcd34d;
    width: 100%;
    font-size: 13px;
    margin-bottom: -8%;
  }
}

@media (min-height: 800px) and (max-width: 1400px) {
  .intro_img {
      height: 800px;
  }
}