.App {
  text-align: center;
}

.intro_img {
  z-index: -1;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
}

.form {
  z-index: 2;
  position: absolute;
  background-color: green;
  right: 10px;
}

@media (min-width: 1376px) {
  .intro_img {
    width:100%;
    height:600px;
    object-fit:cover;
  }

  .buttons-section {
    margin-left: 50px;
    margin-top: 50px;
    gap: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1376px) {
  .intro_img {
    width:100%;
    height: 600px;
    object-fit: cover;
  }

  .buttons-section {
    margin-left: 50px;
    margin-top: 50px;
    gap: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .intro_img {
    width:100%;
    height:600px;
    object-fit: cover;
  }

  .buttons-section {
    margin-left: 50px;
    margin-top: 50px;
    gap: 15px;
  }
}

@media (max-width: 576px){
  .intro_img {
    width:100%;
    height: 600px;
    object-fit: cover;
  }

  .buttons-section {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    width: 100%;
  }
}